<!DOCTYPE html>
  <html>
  <head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  </head>
  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <div class="logo">
        <%= image_tag("expfront.jpg") %>
      </div>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li>
            <%= link_to 'Store', store_path %>
          </li>
          <li>
            <%= link_to 'Products', products_path %>
          </li>
          <li>
            <%= link_to 'Carts', carts_path %>
          </li>
        </ul>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
